# Configure Catppuccin before loading the theme plugin.
zstyle ':catppuccin:p10k' theme rainbow
{{- if eq .chezmoi.os "darwin" }}
typeset -g _p10k_catppuccin_flavour=latte
defaults read -g AppleInterfaceStyle &>/dev/null && _p10k_catppuccin_flavour=mocha
{{- else }}
typeset -g _p10k_catppuccin_flavour=mocha
{{- end }}
zstyle ':catppuccin:p10k' flavour "$_p10k_catppuccin_flavour"

if [[ -f "$HOME/.zsh/plugins/zsh-powerlevel10k/powerlevel10k.zsh-theme" ]]; then
  source "$HOME/.zsh/plugins/zsh-powerlevel10k/powerlevel10k.zsh-theme"
  [[ -f "$HOME/.zsh/plugins/catppuccin-powerlevel10k-themes/catppuccin-powerlevel10k-themes.plugin.zsh" ]] &&
    source "$HOME/.zsh/plugins/catppuccin-powerlevel10k-themes/catppuccin-powerlevel10k-themes.plugin.zsh"
fi

{{- if eq .chezmoi.os "darwin" }}
if (( $+functions[apply_catppuccin] )); then
  _p10k_catppuccin_autoswitch() {
    local flavour=latte
    defaults read -g AppleInterfaceStyle &>/dev/null && flavour=mocha
    [[ $flavour == $_p10k_catppuccin_flavour ]] && return
    typeset -g _p10k_catppuccin_flavour=$flavour
    apply_catppuccin rainbow "$flavour"
  }
  autoload -Uz add-zsh-hook
  add-zsh-hook precmd _p10k_catppuccin_autoswitch
fi
{{- end }}
